.accordion-item {
    border: 1px solid #252525; /* Color azul */
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    background-color: #979797; /* Color azul */
    padding: 10px;
    color: white;
}

.accordion-button {
    font-weight: bold;
}

.accordion-body {
    background-color: #f9f9f9; /* Color de fondo para el contenido */
}

